.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  /* border-bottom: 1px solid lightgray; */
  background-color: var(--azul);
  position: sticky;
  top: 0%;
  z-index: 999;
}
.header__logoutavatar > .MuiAvatar-root {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.header__logoutavatar > .MuiAvatar-root:hover {
  border: 2px solid white;
}
.header__toggledrawwer {
  min-width: 17rem;
}
.header__title {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
}
.header__title > h1 {
  color: var(--azul);
  text-transform: uppercase;
  border-bottom: 1px solid var(--azul);
  padding-bottom: 1rem;
}
.header__title > h3 {
  color: var(--azul);
  text-transform: uppercase;
}
.header__username {
  color: white;
}
.header__time {
  display: flex;
  align-items: center;
}
.header__clock {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
